<div id="wrap">
	<div class="header">
		<div class="container-fluid">
			<h1>Printing a map with SVG Graphics</h1>
		</div>
	</div>

	<div class="content">
		<div class="sidebar well vertical-fill span2">
			<div id="printButton" class="print-component"></div>
		</div>
		<div class="main container-fluid vertical-fill">
			<div class="row-fluid vertical-fill">
				<div id="map" class="map well vertical-fill span12">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container-fluid">
		<p></p>
	</div>
</div>
